In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pip
pip.main(["install", "openpyxl"])
%matplotlib inline

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Collecting openpyxl

  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)

Output()

Collecting et-xmlfile

  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)

Installing collected packages: et-xmlfile, openpyxl

Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

### Project Structure 
├── Project

│   ├── CSE583 Project Proposal.pptx

│   ├── Data

│   │   ├── finaldata_uw2128.csv

│   │   ├── finaldata_uw2292.csv

│   │   ├── finaldata_uw2295.csv

│   │   ├── finaldata_uw2298.csv

│   │   ├── finaldata_uw2320.csv

│   │   ├── finaldata_uw2326.csv

│   │   └── finaldata_uw2331.csv

│   ├── Doc

│   │   └── Design.md

│   ├── Ref

│   │   ├── 6.2022-1800.pdf

│   │   └── 6.2022-1803.pdf

│   ├── Runlogs

│   │   ├── Autosort Run Log 2128.xlsx

│   │   ├── Autosort Run Log 2292.xlsx

│   │   ├── Autosort Run Log 2295.xlsx

│   │   ├── Autosort Run Log 2298.xlsx

│   │   ├── Autosort Run Log 2320.xlsx

│   │   ├── Autosort Run Log 2326.xlsx

│   │   └── Autosort Run Log 2331.xlsx

│   └── Sandbox

│       └── Extract_data.ipynb

└── README.md

### Run log and Data 
Rung log contains the test run info including 

    1.  RUN NO:         Run number for specific entry 
    
    2.  WT.\nTARE\nRUN: Wind off for weight tare
    
    3.  CONFIGURATION:  Tested model configuration specification 
    
                        (wing, fuselage, nacelle, vertical tail, horizontal tail, canard)
                        
    5.  TYPE OF RUN:    Pitch run (P) or yaw run (Y)
    
    4.  a:              Pich angle (deg) = angle of attack 
    
    5.  Y:              Yaw angle (deg)
    
    6.  qnom (psi):     Nominal dynamic pressure 
    
    7.  FLAP L/R:       Wing flap deflection of left/right
    
    8.  AIL L/R:        Wing aileron deflection of left/right
    
    9.  STAB:           All moving horizontal tail deflection
    
    10. RUD:            Veritcal tail deflection 
    
    11. CAN:            Canard deflection 
    
    12. LE IB/OB:       Leading edge deflection of inboard/outboard
    
    13. TRIP DEF:       Turbulence trip dot definition 
    
    14. DATE:           Test date

In [6]:
df_log = pd.read_excel(r'~/SCALOS/Project/Runlogs/Autosort Run Log 2320.xlsx')
df_data = pd.read_csv(r'~/SCALOS/Project/Data/finaldata_uw2320.csv')

In [10]:
df_log.head()

,RUN NO.,WT.\nTARE\nRUN,CONFIGURATION,TYPE OF RUN,a,Y,qnom,FLAP L/R,AIL L/R,STAB,RUD,CAN,LE IB/OB,TRIP DEF,DATE
0,NaN,NaN,NaN,NaN,DEG,DEG,PSF,DEG,DEG,DEG,DEG,NaN,NaN,NaN,2021
1,1.0,NaN,W15,WT TARE,-10/30,-12/12,NaN,0/0,0/0,NaN,NaN,NaN,0/0,NaN,2021-06-21 00:00:00
2,2.0,1.0,W15,P6,A3,0,4,0/0,0/0,NaN,NaN,NaN,0/0,NaN,2021-06-21 00:00:00
3,3.0,1.0,W15,P6,A3,0,6.27,0/0,0/0,NaN,NaN,NaN,0/0,NaN,2021-06-21 00:00:00
4,4.0,1.0,W15,P6,A3,0,14.11,0/0,0/0,NaN,NaN,NaN,0/0,NaN,2021-06-21 00:00:00

In [11]:
df_log.columns.tolist()

['RUN NO.',
 'WT.\nTARE\nRUN',
 'CONFIGURATION',
 'TYPE OF RUN',
 'a',
 'Y',
 'qnom',
 'FLAP L/R',
 'AIL L/R',
 'STAB',
 'RUD',
 'CAN',
 'LE IB/OB',
 'TRIP DEF',
 'DATE']

In [12]:
df_data.head()

,RUN,TEST,TP,ALPHAC,BETA,PSI,QC,RE_MAC,TEMPTS,CLWA,...,CNSA35,CRSA30,CRSA35,CMBA30,CMBA35,CNBA30,CNBA35,CRBA30,CRBA35,LOD
0,2.0,2320.0,2.0,-10.195,-0.02,0.02,4.0319,749115.0,87.235,-0.37174,...,0.00022,0.00082,0.00081,0.00677,-0.01202,0.00004,0.00007,0.00083,0.00083,-6.4255
1,2.0,2320.0,3.0,-9.193,-0.02,0.02,4.0219,748156.0,87.256,-0.32151,...,0.00023,0.00055,0.00055,0.00720,-0.00903,0.00011,0.00014,0.00058,0.00058,-6.9576
2,2.0,2320.0,4.0,-8.184,-0.02,0.02,4.0750,753096.0,87.243,-0.27187,...,0.00038,0.00095,0.00094,0.00659,-0.00711,0.00020,0.00024,0.00098,0.00098,-7.5960
3,2.0,2320.0,5.0,-7.175,-0.02,0.02,4.0352,749477.0,87.222,-0.22222,...,0.00046,0.00172,0.00171,0.00485,-0.00634,0.00021,0.00025,0.00176,0.00176,-8.1499
4,2.0,2320.0,6.0,-6.093,-0.02,0.02,4.0033,746509.0,87.219,-0.16873,...,0.00039,0.00131,0.00131,0.00363,-0.00486,0.00021,0.00025,0.00134,0.00134,-8.3994

In [13]:
df_data.columns.tolist()

['RUN',
 'TEST',
 'TP',
 'ALPHAC',
 'BETA',
 'PSI',
 'QC',
 'RE_MAC',
 'TEMPTS',
 'CLWA',
 'CDWA',
 'CYWA',
 'CMWA15',
 'CMWA20',
 'CMWA25',
 'CMWA33',
 'CMWA40',
 'CNWA15',
 'CNWA20',
 'CNWA25',
 'CNWA33',
 'CNWA40',
 'CRWA15',
 'CRWA20',
 'CRWA25',
 'CRWA33',
 'CRWA40',
 'CLSA',
 'CDSA',
 'CYSA',
 'CMSA15',
 'CMSA20',
 'CMSA25',
 'CMSA33',
 'CMSA40',
 'CNSA15',
 'CNSA20',
 'CNSA25',
 'CNSA33',
 'CNSA40',
 'CRSA15',
 'CRSA20',
 'CRSA25',
 'CRSA33',
 'CRSA40',
 'CLBA',
 'CDBA',
 'CYBA',
 'CMBA15',
 'CMBA20',
 'CMBA25',
 'CMBA33',
 'CMBA40',
 'CNBA15',
 'CNBA20',
 'CNBA25',
 'CNBA33',
 'CNBA40',
 'CRBA15',
 'CRBA20',
 'CRBA25',
 'CRBA33',
 'CRBA40',
 'CMWA30',
 'CMWA35',
 'CNWA30',
 'CNWA35',
 'CRWA30',
 'CRWA35',
 'CMSA30',
 'CMSA35',
 'CNSA30',
 'CNSA35',
 'CRSA30',
 'CRSA35',
 'CMBA30',
 'CMBA35',
 'CNBA30',
 'CNBA35',
 'CRBA30',
 'CRBA35',
 'LOD']